@import '../../common/style/mixin.scss';

.goods{
	position:absolute;
	top:174px;
	width:100%;
	bottom:46px;
	display:flex;
	overflow:hidden;
	.menu-wrapper{
       flex:0 0 80px;
       width:80px;
       background:#f3f5f7;
       .menu-item{
       	 display:table;
       	 width:56px;
       	 line-height:14px;
       	 height:54px;
       	 padding:0 12px;
       	 &.current{
       	 	position:relative;
       	 	z-index:10;
       	 	margin-top:-1px;
       	 	background:#fff;
       	 	font-weight:700;
       	 	.text{
       	 		@include border-none();
       	 	}
       	 }
       	 .icon{
          display:inline-block;
          vertical-align: top;
          width:12px;
          height:12px;
          margin-right:2px;
          background-size:12px 12px;
          background-repeat:no-repeat;
          &.decrease{
            @include bg-img('decrease_3');
          }
          &.discount{
            @include bg-img('discount_3');
          }
          &.guarantee{
            @include bg-img('guarantee_3');
          }
          &.invoice{
            @include bg-img('invoice_3');
          }
          &.special{
            @include bg-img('special_3');
          }
        }
        .text{
          display:table-cell;
          width:56px;
          vertical-align:middle;
          line-height:12px;
          font-size:10px;
          @include border-1px(rgba(7,17,27,.1));
        }
       }
	}
	.foods-wrapper{
		flex:1;
		.title{
			padding-left:14px;
			height:26px;
			line-height:26px;
			border-left:2px solid #d9dde1;
			font-size:12px;
			color:rgb(147,153,159);
			background:#f3f5f7;
		}
		.food-item{
			display:flex;
			margin:18px;
			padding:0 0 18px 0;
			 @include border-1px(rgba(7,17,27,.1));
			 &:last-child{
			 	@include border-none();
			 	margin-bottom:0;
			 }
			 .icon{
			 	flex:0 0 57px;
			 	margin-right:10px;
			 }
			 .content{
			 	flex:1;
			 	.name{
			 		font-size:14px;
			 		color:rgb(7,17,27);
			 		margin:2px 0 8px 0;
			 		line-height:14px;
			        height:14px;
			 	}
			 	.desc,.extra{
			 		line-height:10px;
			 		font-size:10px;
			 		color:rgb(147,153,159);
			 		&.desc{
			 		  margin:0 0 8px;
			 		  line-height:12px;
			 		}
			 	}
			 	.extra{
                   .count{
                   	 margin-right:12px;
                   }
			 	}
			 	.price{
			 		font-weight:700;
			 		line-height:24px;
			 		.now{
			 			color:rgb(240,20,20);
			 			margin-right:8px;
			 			font-size:14px;
			 		}
			 		.old{
			 			text-decoration:line-through;
			 			font-size:10px;
			 			color:rgb(147,153,159);
			 		}
			 	}
			 	.cartcontrol-wrapper{
			 		position:absolute;
			 		right:0;
			 		bottom:12px;
			 	}
			 }
		}
	}
}